@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --color-base: #c45ab3;
  --color-customBlue: #0f1a2b;
  --color-customBG: #1a1423;
}

/* FullCalendar Dark Theme - Calendar Dashboard Style */
.fc-timegrid-event-harness {
  border: none;
}

[data-custom-calendar] {
  @apply text-white mx-auto max-w-[96%];
}

[data-custom-calendar] .fc-toolbar-chunk {
  @apply flex gap-4;
}

[data-custom-calendar] .fc-toolbar-chunk .fc-button-group .fc-prev-button,
[data-custom-calendar] .fc-toolbar-chunk .fc-button-group .fc-next-button {
  @apply bg-transparent border-none;
}

[data-custom-calendar]
  .fc-toolbar-chunk
  .fc-button-group
  .fc-dayGridMonth-button {
  @apply bg-gray-700/30 border-none px-8 rounded-tl-3xl rounded-bl-3xl aria-pressed:bg-base aria-pressed:rounded-3xl;
}
[data-custom-calendar]
  .fc-toolbar-chunk
  .fc-button-group
  .fc-timeGridDay-button {
  @apply bg-gray-700/30 border-none px-8 rounded-tr-3xl rounded-br-3xl aria-pressed:bg-base aria-pressed:rounded-3xl;
}
[data-custom-calendar] .fc-toolbar-chunk:last-of-type .fc-button-group {
  @apply bg-gray-700/30 rounded-3xl;
}
[data-custom-calendar]
  .fc-toolbar-chunk
  .fc-button-group
  .fc-timeGridWeek-button {
  @apply bg-gray-700/30 border-none px-8 aria-pressed:bg-base aria-pressed:rounded-3xl;
}

[data-custom-calendar] .fc-toolbar-chunk .fc-today-button {
  @apply bg-base rounded-md px-6 py-2.5;
}

[data-custom-calendar] .fc-toolbar-chunk .fc-toolbar-title {
  @apply font-bold;
}

[data-custom-calendar] .fc-toolbar {
  @apply py-4 pt-12;
}

[data-custom-calendar]
  .fc-view-harness
  .fc-view
  .fc-scroller::-webkit-scrollbar {
  display: none;
}

[data-custom-calendar] .fc-view-harness .fc-view .fc-scrollgrid {
  border: none;
  @apply px-6 py-4 bg-customBG w-full rounded-2xl shadow-[0_0_5px_rgba(107,114,128,0.3)];
}

[data-custom-calendar] {
  @apply border-none;
}

[data-custom-calendar] .fc-view-harness .fc-view .fc-scrollgrid tbody {
  border: none;
  /* @apply px-6 py-4 bg-customBG w-full rounded-2xl shadow-[0_0_5px_rgba(107,114,128,0.3)]; */
}

/* [data-custom-calendar] .fc {
  border: none;
} */

[data-custom-calendar] .fc td,
[data-custom-calendar] .fc th {
  border: none;
}

/* [data-custom-calendar].fc-ltr .fc-h-event.fc-not-end,
[data-custom-calendar].fc-rtl .fc-h-event.fc-not-start {
  opacity: 0.65 t;
  margin-left: 12px;
  padding: 5px;
} */

[data-custom-calendar]
  .fc-scroller
  .fc-timegrid-body
  .fc-timegrid-slots
  .fc-timegrid-slot {
  @apply py-6;
}

[data-custom-calendar] .fc-day-today .fc-timegrid-now-indicator-container {
  @apply bg-customBG/90;
}

[data-custom-calendar] .fc-day-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  @apply bg-gray-700/30 py-6 px-10 rounded-2xl;
}

[data-custom-calendar] .fc-day-header .day-num {
  @apply text-3xl font-semibold;
}

[data-custom-calendar] .fc-day-header .day-name {
  @apply text-xl;
}

[data-custom-calendar] .fc-day-today .fc-day-header {
  @apply bg-base;
}

[data-custom-calendar] .fc-timegrid-event-harness .fc-event {
  @apply text-customBG rounded-2xl h-full border-none;
}
[data-custom-calendar] .fc-timegrid-event-harness-inset {
  @apply border-none;
}

[data-custom-calendar] .fc-timegrid-event-harness {
  @apply border-none;
}
[data-custom-calendar] .fc-timegrid-slot {
  @apply my-4;
}

[data-custom-calendar] .fc-timegrid-event-harness .fc-event-main {
  @apply bg-emerald-200 text-customBG rounded-2xl h-full border-none;
}
[data-custom-calendar] .fc-timegrid-event-harness .fc-event-main-frame {
  @apply px-2 py-2;
}
[data-custom-calendar]
  .fc-timegrid-event-harness
  .fc-event-main-frame
  .fc-event-time {
  @apply text-sm text-gray-500;
}
[data-custom-calendar]
  .fc-timegrid-event-harness
  .fc-event-main-frame
  .fc-event-title {
  @apply text-lg py-1.5 text-customBG;
}

[data-custom-calendar] .fc-timegrid-body {
  @apply mt-6;
}
